<!DOCTYPE html>
<html>
<head>
  <title>ALLaBoard</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">

    <div>
      <ul class="right">
    <%= link_to 'Sign up: Organization', new_organization_path, :method => :get %>
  </ul>
    </div>

  </nav>

    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
    $(function(){
      $(document).foundation();
    });
  <% end %>

  <%= yield :extra_footer %>
</body>
</html>
