<div>
</img><%= image_tag("allaboard.png", :alt => "all aboard") %>
</div>

<div style="margin: 0 auto; width: 500px">
<% @flyers.each do |flyer| %>

<ul style="list-style-type:none">
  <h3 style="text-align:center"><li><%= flyer.name %></li></h3>
  <li><a href="/flyers/<%=flyer.id%>" id="flyer"><img id="flyer-image" src="<%=flyer.image%>" /></li>
  <li><%= flyer.contact %></li>
  <li><%= flyer.contact_email %></li>
  <li><%= flyer.category %></li>
</ul>
<% end %>
</div>

<div class="large-2.columns" style="position: absolute; right: 5px">
<%= link_to 'Add a flyer', new_flyer_path, :class => 'button-round', :method => :get %>
</div>
