<div>
<%= button_to 'Sign up: Organization', new_organization_path, :method => :get %>
</div>

<% @flyers.each do |flyer| %>

<ul>
  <li><%= flyer.organization_id %></li>
  <li><a href="/flyers/<%=flyer.id%>"><%= flyer.image %></li>
  <li><%= flyer.contact %></li>
  <li><%= flyer.contact_email %></li>
  <li><%= flyer.category %></li>
</ul>
<% end %>
