<%= form_for(@flyer) do |f| %>

<div class="field" type="hidden">
  <%= f.label :name, "Name" %><br />
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :image, "Flyer" %><br />
  <%= f.text_field :image %>
</div>

<div class="field">
  <%= f.label :address, "Address" %><br />
  <%= f.text_field :address %>
</div>

<div class="field">
  <%= f.label :contact, "Contact Name" %><br />
  <%= f.text_field :contact %>
</div>

 <div class="field">
  <%= f.label :contact_email, "Contact Email" %><br />
  <%= f.text_field :contact_email %>
</div>

<div class="field">
 <%= f.label :category, "Category" %><br />
 <%= f.text_field :category %>
</div>

<div class="field">
 <%= f.label :date, "Date" %><br />
 <%= f.text_field :date %>
</div>

<div class="field">
 <%= f.label :time, "Time" %><br />
 <%= f.text_field :time %>
</div>

<div class="field">
 <%= f.label :tags, "Tags" %><br />
 <%= f.text_field :tags %>
</div>

<div class="field">
 <%= f.label :information, "Information" %><br />
 <%= f.text_field :information %>
</div>
<div class="actions">
  <%= f.submit "Add flyer" %>
</div>
<% end %>
