<%= form_for(@flyer) do |f| %>

<div class="field" style="width:350px; padding-left:10px">
  <%= f.label :name, "Name" %><br />
  <%= f.text_field :name %>

  <%= f.label :image, "Flyer" %><br />
  <%= f.text_field :image %>

  <%= f.label :address, "Address" %><br />
  <%= f.text_field :address %>

  <%= f.label :contact, "Contact Name" %><br />
  <%= f.text_field :contact %>

  <%= f.label :contact_email, "Contact Email" %><br />
  <%= f.text_field :contact_email %>

 <%= f.label :category, "Category" %><br />
 <%= f.text_field :category %>

 <%= f.label :date, "Date" %><br />
 <%= f.text_field :date %>

 <%= f.label :time, "Time" %><br />
 <%= f.text_field :time %>

 <%= f.label :tags, "Tags" %><br />
 <%= f.text_field :tags %>

 <%= f.label :information, "Information" %><br />
 <%= f.text_field :information %>
</div>

<div class="actions">
  <%= f.submit "Add flyer" %>
</div>
<% end %>
