<div class="content" style="text-align:center">
  <h1><%= @flyer.name %></h1>
  <img src="<%=@flyer.image%>">
  <h3>Where: <%= @flyer.address %></h3>
  <h3>Date: <%= @flyer.date %> Time: <%= @flyer.time %></h3>

  <h3>Contact: <%= @flyer.contact %> Email: <a href=""><%= @flyer.contact_email %></a></h3>
  <h4>Category: <%= @flyer.category %></h4>

  <h4>Information: <%= @flyer.information %></h4>
  <h6><%= @flyer.tags %></h6>
</div>

<div>
<%= link_to 'Back to the home page', root_path, :method => :get %>
</div>
