<div class="content">
  <h1><%= @flyer.name %></h1>
  <h2><img src="<%=@flyer.image%>"></h2>
  <h3><%= @flyer.address %></h3>
  <h3><%= @flyer.contact %></h3>
  <h1><%= @flyer.contact_email %></h1>
  <h2><%= @flyer.category %></h2
  <h3><%= @flyer.date %></h3>
  <h5><%= @flyer.time %></h5>
  <h5><%= @flyer.tags %></h5>
  <h5><%= @flyer.information %></h5>
</div>

<div>
<%= button_to 'Back to the home page', root_path, :method => :get %>
</div>
